<div class="flex flex-col gap-2">
  <label class="font-semibold">{{ label }}</label>
  <ng-template #textInput>
    <input
      pInputText
      [class]="className"
      [type]="type"
      [placeholder]="placeholder"
      [value]="control?.value"
      (input)="handleChange($event)"
      (blur)="handleBlur()"
    />
  </ng-template>
  <input
    *ngIf="type === 'textarea'; else textInput"
    pInputText
    [class]="className"
    [type]="type"
    [placeholder]="placeholder"
    [value]="control?.value"
    (input)="handleChange($event)"
    (blur)="handleBlur()"
  />
  <!-- <button
    *ngIf="buttonIconName"
    matSuffix
    mat-icon-button
    aria-label="Edit"
    (click)="handleClickButtonEdit()"
  ></button> -->
  <small *ngIf="!errorMessage; else showError">{{ helpText }} </small>
  <ng-template #showError>
    <small class="text-red-700">
      {{ errorMessage }}
    </small>
  </ng-template>
</div>
